/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

#ent101-content-wrapper {
  min-width: 600px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: static;
  background-image: url(./assets/images/forest-bg.jpg);
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
